.logo-right {
	border-radius: 50px;
	margin: 5% 10% 5% 5%;
}

.white {
	color: white;
}

.brand-name {
	font-size: 20px;
	font-weight: bold;
	padding-top: 5%;
}

.navbar {
	padding-bottom: 0px;
	padding-top: 0px;
	height: 56px;
	background: black;
}

.navbar-top-right {
	display: flex;
	flex-wrap: nowrap;
	cursor: pointer;
	height: 100%;
}

.brand-top-right {
	display: flex;
	flex-wrap: nowrap;
	margin-top: 7px;
}

.tab-link {
	cursor: pointer;
	font-weight: bold;
	padding-top: 4%;
	width: 50%;
	margin: 0px;
	text-align: center;
}

.tab-link:hover {
	transition: 1s;
	background-color: black;
	color: white;
	border-bottom: 4px solid red;
}