.logo-right {
	border-radius: 50px;
	margin: 5% 10% 5% 5%;
}

.grey {
	color: #5d5d5d;
}

.brand-name {
	font-size: 20px;
	font-weight: bold;
	padding-top: 5%;
}

.navbar {
	padding-bottom: 0px;
	padding-top: 0px;
	height: 56px;
	margin-bottom: 2%;
}

.navbar-top-right {
	display: flex;
	flex-wrap: nowrap;
	cursor: pointer;
}

.brand-top-right {
	display: flex;
	flex-wrap: nowrap;
}

.tab-link {
	cursor: pointer;
	font-weight: bold;
	padding-top: 5%;
	width: 50%;
	margin: 0px;
	padding-left: 10%;
}

.tab-link:hover {
	transition: 1s;
	background-color: #e2e2e2de;
	color: #040404de;
	border-bottom: 4px solid black;
}